@import '~styles/variables';

.select {
  background-clip: padding-box;
  background-color: var(--background-controls);
  border-radius: $border-radius;
  color: var(--color-primary);
  cursor: pointer;
  line-height: 1.5;
  padding: 0.375em 0.5em;
  text-overflow: ellipsis;
  width: max-content;

  &--small {
    font-size: $font-size-xs;
  }

  &--normal {
    font-size: $font-size-md;
  }

  &--big {
    font-size: $font-size-xl;
  }

  &--large {
    font-size: $font-size-xxl;
  }

  &--error {
    border: 2px solid var(--color-error);
  }

  &__option {
    background: var(--background-secondary);
    color: inherit;
    font-size: inherit;
  }

  &:disabled {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    cursor: default;
  }

  &__label {
    color: var(--color-secondary);
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
  }

  &__error {
    color: var(--color-error);
    font-size: $font-size-xs;
    padding-top: 0.25em;
  }
}