{
    "extends": "stylelint-config-standard-scss",
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ],
    "rules": {
        "string-quotes": "single",
        "order/properties-alphabetical-order": true,
        "no-missing-end-of-source-newline": null,
        "font-family-no-missing-generic-family-keyword": null
    }
}