@import '~styles/variables';

.button {
  background: inherit;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  line-height: 1.5;
  padding: 0.375em 0.75em;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;

  &:disabled {
    cursor: default;
    opacity: 0.65;
  }

  &:not(:disabled):hover {
    filter: brightness(110%);
  }

  &--normal {
    font-size: $font-size-md;
  }

  &--small {
    font-size: $font-size-xs;
  }

  &--large {
    font-size: $font-size-xl;
  }

  &--primary {
    background: var(--color-accent);
    color: $color-white;
  }

  &--secondary {
    background: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
  }

  &--action {
    border: 0;
    color: var(--color-accent);
    line-height: normal;
    padding: 0.75em;

    &:hover {
      text-decoration: underline;
    }
  }
}